button {
    margin-right: 8px;
}

li {
    list-style: none;
}

.App {
    font-family: sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.item {
    border: 2px solid black;
    margin-bottom: 8px;
    padding-block: 8px;
}

.selected {
    border: 2px solid forestgreen;
    color: forestgreen;
    background-color: rgba(34, 139, 34, 0.2);
}
