.App {
    font-family: sans-serif;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

button {
    margin-right: 8px;
}

.item {
    border: 2px solid black;
    margin-bottom: 8px;
    padding-block: 8px;
}

.selected {
    border: 2px solid goldenrod;
    background-color: rgba(227, 187, 87, 0.2);
}
